.MeansOfTransport{
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwwwnc.cdc.gov%2Ftravel%2Fpage%2Ftravel-industry-information-center&psig=AOvVaw12Utp-9KK1gRMyvxbA8cxF&ust=1691080389282000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJidjsGzvoADFQAAAAAdAAAAABAR') center/cover; /* Replace path/to/your/background.jpg with the actual image path */
    padding: 20px;
    border-radius: 10px;
  }
  