/* Transport.css */
.transport-container {
  background-color: goldenrod;
  padding: 20px;
  border-radius: 10px;
}
.payment-system-container {
  background-color: cornflowerblue;
  padding: 20px;
  border-radius: 10px;
}
