/* Transport.css */
.transport-container {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhxN42HbIvmoudpMhPpumQ1Ipurr4-dWG-Lg&usqp=CAU') center/cover;
  padding: 20px;
  border-radius: 10px;
  text-shadow: bisque;
}
.payment-system-container {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhxN42HbIvmoudpMhPpumQ1Ipurr4-dWG-Lg&usqp=CAU') center/cover;
  padding: 20px;
  border-radius: 10px;
}